<script>
    async function wait(){
        await new Promise((resolve)=>{
            setTimeout(()=>{
                alert("HelloWorld2")
                resolve()
            },1000)
        })
    }
    wait()

</script>
HelloWorld:
<a id="a">None</a>